# Magento 2 Specific
/pub/media/*
!/pub/media/.htaccess
/pub/static/*
!/pub/static/.htaccess
/var/*
!/var/.htaccess
/generated/*
/vendor/*
/setup/*
/dev/*
/update/*
/bin/*
/.buildpath
/.cache
/.metadata
/.project
/.settings
/composer.lock
.DS_Store

# Except for the following files
!/README.md
!/.gitignore 