<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bahaa" translate="label" sortOrder="500">
            <label>Bahaa Extensions</label>
        </tab>
        <section id="productlabel" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Product Labels</label>
            <tab>bahaa</tab>
            <resource>Bahaa_ProductLabel::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Product Labels</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="on_sale_label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>On Sale Label Text</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="on_sale_label_color" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>On Sale Label Color</label>
                    <comment>Enter a valid CSS color code (e.g. #e41f13)</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="new_label" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Product Label Text</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="new_label_color" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Product Label Color</label>
                    <comment>Enter a valid CSS color code (e.g. #1979c3)</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="days_as_new" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Days as New</label>
                    <comment>Number of days a product is considered 'new' after creation date</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config> 