<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <custom_popup>
            <general>
                <enabled>1</enabled>
                <popup_delay>3</popup_delay>
                <cookie_lifetime>1</cookie_lifetime>
            </general>
        </custom_popup>
    </default>
</config> 